
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<table class="table table-bordered">
    <tr>
        <th>Issue ID</th>
        <th>Issued Book Name</th>
    </tr>
    @foreach (MVC6thOctPS2.Models.IssueClass item in (List<MVC6thOctPS2.Models.IssueClass>)TempData["List"])
    {
        <tr>

            <td>@item.IssueID</td>
            <td>@item.IssuedBookName</td>

        </tr>
    }
</table>

