@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@*<body style="background-image:url('..\..\Images\jug.jpg')">
</body>*@

<style>
    body {
        background-image: url('..\..\Images\jug.jpg');
    }
</style>

@*<style>
    body {
        background-image: url('img_girl.jpg');
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: 100% 100%;
    }
</style>*@

