
@{
    ViewBag.Title = "DeleteProduct";
}

<h2>DeleteProduct</h2>
<form method="post">
    <label>Productid:</label>
    <input type="text" name="id" value="" />
    <label>Product name:</label>
    <input type="text" name="pname" value="" />
    <input type="submit" name="DeleteProduct" value="Delete" />
</form>
