
@{
    ViewBag.Title = "ShowProduct";
}

<h2>ShowProduct</h2>
<form method="get">
    <label>Productid:</label>
    <input type="text" name="id" value="" />
    <label>Product name:</label>
    <input type="text" name="pname" value="" />
    <input type="submit" name="ShowProduct" value="Show" />
</form>
