
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<table class="table table-bordered">
    <tr>
        <th>Book ID</th>
        <th>Book Name</th>
    </tr>
    @foreach (MVC6thOctPS2.Models.BookClass item in (List<MVC6thOctPS2.Models.BookClass>)ViewData["List"] )
    {
        <tr>

            <td>@item.BookID</td>
            <td>@item.BookName</td>

        </tr>
    }
</table>

